.home-container {
  background-image: url("../../images/Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 650px;
  justify-content: center;
  /* background-position: center; */
  margin-top: 65px;
}
